* {
    padding: 0PX;
    margin: 0;
    box-sizing: border-box;
}

.qr__container {
    text-align: center;
    display: flex;
}

.text {
    font-size: 14px;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 30px;
}

.heading {
    font-size: 16px;
    padding-top: 10px;
    padding-left: 12px;
    text-align: center;
    width: 90%;
    font-weight: bolder;
}

.container {
    padding: 0 400px;
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
}


.row {
    padding: 4px 8px;
    
}

.wrapper {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: white;
border: 2px solid gray;
padding-left: 1px;
border-radius: 12px;
}

.image {
    max-width: 100%;
    width: 200px;
   
}

.qr__image {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 8px;

}